@model Alimento
@{
    ViewData["Title"] = "Crear Productos";
}

<h1>@ViewData["Title"]</h1>
<form method="post">
    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control">
    </div>

    <div class="mb-3">
        <label>Valor</label>
        <input asp-for="Valor" class="form-control">
    </div>

    <div class="mb-3">
        <label>cantidad</label>
        <input asp-for="Cantidad" class="form-control">
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-action="Index" class="btn btn-primary">Regresar</a>
    </div>
</form>

<p>Esta es la vista para crear productos.</p>

