@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CAFE PARRILLA</h1>
   
    <img src="https://scontent.fuio13-1.fna.fbcdn.net/v/t39.30808-6/276132694_5148899261836632_1771920166145548787_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHaE2SsJm-ytplgA4fqMIsn5-yQjV49WFPn7JCNXj1YUyzfa1gEIFpUwW5Lrfuu2h6EwF-YPbKIbPIgYByTE7je&_nc_ohc=hAkNlIgLlvoAX9rvWxg&_nc_oc=AQm9dTUEsSmvR9g2jXaojKSxjvnBo1qxFDa2_VTJK3GlQhNaICl-UjfcGTw0s9UjyRM&_nc_ht=scontent.fuio13-1.fna&cb_e2o_trans=t&oh=00_AfBjz38Vy_bUA5QXpg9SaykS85mPkGygyCY-YESmhPe-6g&oe=65459F09" alt="Texto alternativo de la imagen">
</div>
