@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CAFE PARRILLA</h1>
   
    <img src="https://scontent.fuio4-1.fna.fbcdn.net/v/t39.30808-6/276132694_5148899261836632_1771920166145548787_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHaE2SsJm-ytplgA4fqMIsn5-yQjV49WFPn7JCNXj1YUyzfa1gEIFpUwW5Lrfuu2h6EwF-YPbKIbPIgYByTE7je&_nc_ohc=7B75HjrqHSwAX9iIo1i&_nc_oc=AQlN7_kJG7VIxcdeAm4bGq9bBgy137f8YtFtWPMGm9GCCm_ho1Rk3_HaycWb0dXiiQwrI0lNDIRgqZ1Xc1L1ZkbY&_nc_ht=scontent.fuio4-1.fna&cb_e2o_trans=t&oh=00_AfBCDMjEH_EacqMs2zyhW3katTjq0q7O82_SFCynncpsPw&oe=653DB609" alt="Texto alternativo de la imagen">
</div>
