@model Platos
@{
    ViewData["Title"] = "Editar Platos";
}

<h1>@ViewData["Title"]</h1>
<form method="post">
    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control">
    </div>

    <div class="mb-3">
        <label>Ingredientes</label>
        <input asp-for="Ingredientes" class="form-control">
    </div>

    <div class="mb-3">
        <label>Cantidad Ingrediente</label>
        <input asp-for="Cantidad" class="form-control">
    </div>

    <div class="mb-3">
        <label>Precio</label>
        <input asp-for="Precio" class="form-control">
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-action="Index2" class="btn btn-primary">Regresar</a>
    </div>
</form>

<p>Esta es la vista para editar platos.</p>
